@import url('https://fonts.googleapis.com/css2? family = Roboto: ital, wght @ 0,700; 1,400 & display swap');
* {
    font-family: 'Roboto', sans-serif;
}

.modal-personagens {
    position:fixed;
    width:100%;
    height:100vh;
    top:0px;
    left:0;
    z-index:9999;
    background-color:rgba(153, 42, 147, 0.534);
    display:flex;
    justify-content:center;
    align-items: center;
}
.modal-personagens .container {
    background-color:#fff;
    color:#000;
    width:60%;
    height:80vh;
    border-radius:20px;
}
.modal-personagens .close {
    cursor:pointer;
    background-color:transparent;
    border:none;
    top:16px;
    right:calc(-100% + 64px);
    display:flex;
    position:relative;
    align-items:center;
    color: #d3d3d3;
}
.cabecalho {
    padding: 20px;
}
.corpo {
    display: flex;
}
.corpo .personagens {
    display:flex;
    margin-top:-20px;
    padding-left:20px;
    width: 300px;
     margin-bottom: -80px;
}
.corpo .message {
    font-weight:normal;
    color: #d3d3d3;
}
.btn-add-personagem {    
    border: 1px solid rgb(153, 42, 147);
    background-color: rgb(153, 42, 147);
    color: #fff;
    font-size: 16px;
    height: 40px;
    width: 120px;
    border-radius: 5px; 
    text-align: center;
    top: -40000px;
    cursor: pointer;
    transition: ease all 3ms;
}
.btn-add-personagem:hover {
    background-color:transparent;
    color: rgb(153, 42, 147);
}
.rodape {
    padding-left: 20px;
    padding-top: 150px;
}